body {
  background-image: url(http://wallpapercave.com/wp/GtVhaJC.jpg);
  color: blue;
}

header {
  text-align: center;
  background-color: orange;
  font-weight: bold;
  padding: 20px;
  font-family: cursive;
  color: black;
}

p.hover{
	font-family: cursive;
	font-size: 25px;
}
