body {
  background-image: url(http://wallpapercave.com/wp/GtVhaJC.jpg);
  color: orange;
}

header {
  text-align: center;
  background-color: orange;
  font-weight: bold;
  padding: 20px;
  font-family: cursive;
  color: black;
}
