body {
  background-image: url(https://i.ytimg.com/vi/SCNWWfXpCw0/maxresdefault.jpg);
  color: white;
}

header {
  text-align: center;
  background-color: orange;
  font-weight: bold;
  padding: 20px;
  font-family: cursive;
  color: black;
}

p.hover{
	font-family: cursive;
	font-size: 25px;
}

.output{
  color: white;
}

.show{
  color: white;
}